In [1]:
import os
import json
import pandas as pd

path = './Use/[원천]성취수준데이터셋_train'

out_path = './Data'

In [3]:
answerCode_list = []
IRT_list = []

for grade_folder in os.listdir(path):

    if grade_folder != '.DS_Store':

        grade_folder_path = os.path.join(path, grade_folder)

        for exam_folder in os.listdir(grade_folder_path):

            if exam_folder != '.DS_Store':

                exam_folder_path = os.path.join(grade_folder_path, exam_folder)
                answerCode_folder_path = os.path.join(exam_folder_path, '1_문항정오답표')
                IRT_folder_path = os.path.join(exam_folder_path, '2_문항IRT')
                
                for file in os.listdir(answerCode_folder_path):
                    
                    file_path = os.path.join(answerCode_folder_path, file)

                    with open(file_path, 'r') as f:
                        js = json.load(f)

                    df = pd.json_normalize(js)
                    answerCode_list.append(df)
                
                for file in os.listdir(IRT_folder_path):
                    
                    file_path = os.path.join(IRT_folder_path, file)

                    with open(file_path, 'r') as f:
                        js = json.load(f)

                    df = pd.json_normalize(js)
                    IRT_list.append(df)

answerCode_df = pd.concat(answerCode_list, ignore_index=True)
IRT_df = pd.concat(IRT_list, ignore_index=True)

In [5]:
answerCode_df.sort_values(['learnerID', 'testID', 'assessmentItemID'], inplace=True, ignore_index=True)
answerCode_df

,learnerID,learnerProfile,testID,assessmentItemID,answerCode,Timestamp
0,A010000003,F;S01;1,A010000001,A010001001,1,2020-03-31 05:47:58
1,A010000003,F;S01;1,A010000001,A010001002,1,2020-03-31 05:48:07
2,A010000003,F;S01;1,A010000001,A010001003,1,2020-03-31 05:48:11
3,A010000003,F;S01;1,A010000001,A010001004,1,2020-03-31 05:48:23
4,A010000003,F;S01;1,A010000001,A010001005,1,2020-03-31 05:48:42
...,...,...,...,...,...,...
1677353,A090000774,F;S01;9,A090000055,A090055002,0,2020-10-23 02:48:49
1677354,A090000774,F;S01;9,A090000055,A090055003,0,2020-10-23 02:48:50
1677355,A090000774,F;S01;9,A090000055,A090055004,1,2020-10-23 02:48:52
1677356,A090000774,F;S01;9,A090000055,A090055005,0,2020-10-23 02:48:54
1677357,A090000774,F;S01;9,A090000055,A090055006,1,2020-10-23 02:48:55

In [4]:
IRT_df.sort_values(['testID', 'assessmentItemID'], inplace=True, ignore_index=True)
IRT_df

,testID,assessmentItemID,difficultyLevel,discriminationLevel,guessLevel,knowledgeTag,Timestamp
0,A010000001,A010001001,-3.719715,0.721179,1.008904e-02,5844,2021-01-08 06:08:25.336946
1,A010000001,A010001002,-2.917577,1.349719,1.278008e-02,5844,2021-01-08 06:08:25.336946
2,A010000001,A010001003,-2.273138,1.192981,5.012783e-02,5844,2021-01-08 06:08:25.336946
3,A010000001,A010001004,-2.302867,1.732754,6.223898e-03,5844,2021-01-08 06:08:25.336946
4,A010000001,A010001005,-1.611647,1.911265,2.348796e-04,5844,2021-01-08 06:08:25.336946
...,...,...,...,...,...,...,...
9449,A090000074,A090074002,0.012002,54.381941,2.930000e-08,4243,2021-01-08 06:08:25.336946
9450,A090000074,A090074003,-0.725795,0.416779,1.159106e-02,4243,2021-01-08 06:08:25.336946
9451,A090000074,A090074004,0.450923,4.251689,0.000000e+00,10196,2021-01-08 06:08:25.336946
9452,A090000074,A090074005,2.126145,0.240034,3.483607e-02,2648,2021-01-08 06:08:25.336946
9453,A090000074,A090074006,0.038831,1.585952,3.879670e-05,2648,2021-01-08 06:08:25.336946

In [2]:
knowledge_path = './Use/[라벨]수학 지식체계 데이터 세트_210611.json'

with open(knowledge_path, 'r') as f:
    js = json.load(f)

first_level = {key: js[key] for key in js}

knowledge_list = []

for key, item in first_level.items():
    
    fromConcept_df = pd.json_normalize(item['fromConcept'])
    toConcept_df = pd.json_normalize(item['toConcept'])
    toConcept_df.rename(columns={'id':'toConceptid'}, inplace=True)

    df = pd.concat([fromConcept_df, toConcept_df['toConceptid']], axis=1)
    knowledge_list.append(df)

knowledge_df = pd.concat(knowledge_list, ignore_index=True)

knowledge_df

,id,name,semester,description,chapter.id,chapter.name,achievement.id,achievement.name,toConceptid
0,3249,거듭제곱,고등-수1-전체,임의의 수 $a$와 양의 정수 $n$에 대하여 $a$를 $n$개 거듭하여 곱한 것을...,587,지수함수와 로그함수 > 지수 > 거듭제곱과 거듭제곱근,314,"거듭제곱과 거듭제곱근의 뜻을 알고, 그 성질을 설명할 수 있다.",1442
1,3,지수가 자연수일 때의 지수법칙,고등-수1-전체,"$a$, $b$가 실수이고 $m$, $n$이 자연수일 때\n\n(1)$a^ma^n=...",587,지수함수와 로그함수 > 지수 > 거듭제곱과 거듭제곱근,314,"거듭제곱과 거듭제곱근의 뜻을 알고, 그 성질을 설명할 수 있다.",4659
2,3,지수가 자연수일 때의 지수법칙,고등-수1-전체,"$a$, $b$가 실수이고 $m$, $n$이 자연수일 때\n\n(1)$a^ma^n=...",587,지수함수와 로그함수 > 지수 > 거듭제곱과 거듭제곱근,314,"거듭제곱과 거듭제곱근의 뜻을 알고, 그 성질을 설명할 수 있다.",4660
3,3,지수가 자연수일 때의 지수법칙,고등-수1-전체,"$a$, $b$가 실수이고 $m$, $n$이 자연수일 때\n\n(1)$a^ma^n=...",587,지수함수와 로그함수 > 지수 > 거듭제곱과 거듭제곱근,314,"거듭제곱과 거듭제곱근의 뜻을 알고, 그 성질을 설명할 수 있다.",4661
4,4,거듭제곱근,고등-수1-전체,방정식 $x^n=a$의 근 $x$를 $a$의 $n$제곱근이라 한다.\n이때 실수 $...,587,지수함수와 로그함수 > 지수 > 거듭제곱과 거듭제곱근,314,"거듭제곱과 거듭제곱근의 뜻을 알고, 그 성질을 설명할 수 있다.",3249
...,...,...,...,...,...,...,...,...,...
3441,11269,천만 단위까지의 수 알아보기,초등-초4-1학기,"10000이 1365개인 수- 쓰기: 13560000또는 1356만, 읽기: 천삼백...",223,"큰 수 > 십만, 백만, 천만을 알아볼까요",11,10000 이상의 큰 수에 대한 자릿값과 위치적 기수법을 원리를 이해한다.,7268
3442,11270,천억 단위까지의 수 알아보기,초등-초4-1학기,1억이 7365개인 수\n- 쓰기: 736500000000또는 7365억\n- 읽기...,224,큰 수 > 억과 조를 알아볼까요,11,10000 이상의 큰 수에 대한 자릿값과 위치적 기수법을 원리를 이해한다.,11269
3443,11271,천조 단위까지의 수 알아보기,초등-초4-1학기,1조가 2761개인 수\n- 쓰기: 2761000000000000 또는 2761조\...,224,큰 수 > 억과 조를 알아볼까요,11,10000 이상의 큰 수에 대한 자릿값과 위치적 기수법을 원리를 이해한다.,11270
3444,8481,각도의 합과 차,초등-초4-1학기,"각도의 합과 차는 자연수의 덧셈, 뺄셈과 같은 방법으로 계산합니다.",232,각도 > 각도의 합과 차는 얼마일까요,NaN,nan,7310
3445,8247,삼각형을 두 가지 기준으로 분류하기(3),초등-초4-2학기,각의 크기에 따른 분류.\n- 한 각이 직각이면 직각삼각형이다.,268,삼각형 > 삼각형을 두 가지 기준으로 분류해 볼까요,155,여러 가지 모양의 삼각형에 대한 분류 활동을 통하여 직각삼각형을 이해한다.,8832

In [6]:
answerCode_df.to_csv(os.path.join(out_path, 'answerCode.csv'), index=False)
IRT_df.to_csv(os.path.join(out_path, 'IRT.csv'), index=False)
knowledge_df.to_csv(os.path.join(out_path, 'knowledge.csv'), index=False)